# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Caze Mattan\University\2nd year\3rd semester\קורסים\SPL\פרויקט 2\עבודה\קבצים מהמודל\assignment2_FILES - Git\assingment2SPL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
